@media screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 28px !important;
  }
  .jumbotron p {
    font-size: 16px !important;
  }
  .team_escudo {
    /*height: 90px;*/
  }
  .team_escudo, .team_nome {
    width: 100%;
    float: initial;
    text-align: center;
  }
  .team_escudo img {
    margin: 0 auto;
    display: block;
  }
  .team_nome h1 {
    font-size: 1.9em;
  }
  .team_rodata_pontuacao {
    width: 100%;
    margin: 20px 0 20px;
  }
  .team_rodata_pontuacao .team_rodada {
    text-align: center;
  }
  .team_rodata_pontuacao .team_pontuacao {
    overflow: hidden;
    text-align: center;
  }
  .team_rodata_pontuacao .team_pontuacao .pontos-label {
    float: none;
  }
  .team_rodata_pontuacao .team_pontuacao .pontuacao-label {
    float: none;
    width: auto;
    margin: 0;
  }
  .table-responsive {
    border: none !important;
    margin-top: 20px !important;
  }
  .team_escalacao td {
    padding: 10px 8px !important;
    font-size: 0.95em;
  }
  #result {
    padding: 0;
  }
  #teams_list li {
    padding: 10px;
  }
  #teams_list .nome {
    font-size: 1.1em;
    padding-left: 16px;
  }
  #teams_list .cartola {
    font-size: 1em;
    float: left;
    text-align: left;
    clear: left;
    display: inline;
    margin-left: 48px;
    margin-top: -12px;
  }
  .header, .result, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .forkmegithub {
    width: 100px;
    height: 100px;
  }
}
