/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.result,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.footer p {
  font-size: 12px;
  margin: 0;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main result message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 0 !important;
}
.jumbotron h1 {
  font-size: 40px !important;
  text-transform: uppercase;
}
.jumbotron p {
  font-size: 18px !important;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 18px;
}

/* Supporting result content */
.result {
  margin: 40px 0;
}
.result p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .result,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.forkmegithub {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/* Social buttons */
.social {
  text-align: center;
  padding-bottom: 10px;
}
.social div {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 8px;
}
.facebook iframe {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform-origin: center;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
}
