#loading {
  display: none;
  text-align: center;
}

#result {
  display: none;
}

#teams_list {
  display: none;
  border: 1px solid #ccc;
  background-color: #fdfdfd;
  overflow-y: scroll;
  height: 190px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-top: -18px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#teams_list ul.teams {
  list-style: none;
  padding: 0;
}
#teams_list .teams li {
  padding: 10px 20px;
  border-bottom: 1px dotted #ccc;
  display: block;
  overflow: hidden;
}
#teams_list .teams li:hover {
  background: #F9F9F9;
  cursor: pointer;
}
#teams_list .escudo {
  float: left;
  width: 32px;
}
#teams_list .nome {
  float: left;
  padding-left: 20px;
  font-size: 18px;
  padding-top: 2px;
}
#teams_list .cartola {
  float: right;
  font-style: italic;
  color: #999;
  padding-top: 5px;
}

input.team {
  padding: 24px 20px !important;
  font-size: 24px !important;
  background: #fff !important;
}
input.team:focus {
  border-color: none !important;
  box-shadow: none !important;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:active, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.team_escudo {
  float: left;
}
.team_escudo img {
  max-height: 100px;
  margin: 0 14px;
}

.team_nome {
  float: left;
}
.team_nome h1 {
  font-size: 28px;
}
.team_nome h3 {
  margin: -8px 0 0 0;
  font-size: 16px;
  color: #777;
}

.team_rodata_pontuacao {
  float: right;
  text-align: right;
  margin: 20px 20px 0 0;
}
.team_rodata_pontuacao .team_rodada {
  font-weight: bold;
}
.team_rodata_pontuacao .team_pontuacao {
  overflow: hidden;
}
.team_rodata_pontuacao .team_pontuacao .pontos-label {
  font-size: 30px;
  display: block;
  float: left;
}
.team_rodata_pontuacao .team_pontuacao .pontuacao-label {
  display: block;
  margin: 10px 0 0 0px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #777;
  width: 70px;
  line-height: 12px;
}

.team_escalacao {
  margin: 20px auto 0 auto;
}
.team_escalacao table {
  width: 100% !important;
  margin: 0 auto !important;
}
.team_escalacao td {
  padding: 8px 18px !important;
  border-top: 1px dotted #ddd !important;
  vertical-align: initial !important;
  line-height: initial !important;
  white-space: normal !important;
}
.athletic_foto img {
  border: 1px solid #DDD;
  width: 50%;
}
.athletic_pontos {
  color: #3ea909;
}
.athletic_pontos.neutro {
  color: #000;
}
.athletic_pontos.negativo {
  color: #f00;
}
