<div class="row">
  <div class="col-lg-12">
    <p>Em <strong>{{ atleta.jogos_num }}</strong> jogos:</p>
    <div class="col-lg-6 scouts">
      <div><strong>{{ atleta.scout.G + 0 }}</strong> gols</div>
      <div><strong>{{ atleta.scout.A + 0 }}</strong> assistências</div>
      <div><strong>{{ atleta.scout.FD + atleta.scout.FT + atleta.scout.FF + 0 }}</strong> finalizações</div>
    </div>
    <div class="col-lg-6 scouts">
      <div><strong>{{ atleta.scout.FC + 0 }}</strong> faltas cometidas</div>
      <div><strong>{{ atleta.scout.CA + 0 }}</strong> cartões amarelos</div>
      <div><strong>{{ atleta.scout.CV + 0 }}</strong> cartões vermelhos</div>
    </div>
  </div>
</div>
