<div class="row">
  <div class="col-lg-12">
    <p>Em <strong>{{ atleta.jogos_num }}</strong> jogos:</p>
    <div class="col-lg-6 scouts">
      <div><strong>{{ atleta.scout.SG + 0 }}</strong> jogos sem sofrer gols</div>
      <div><strong>{{ atleta.scout.DD + 0 }}</strong> defesas difíceis</div>
      <div><strong>{{ atleta.scout.DP + 0 }}</strong> defesas de pênalti</div>
    </div>
    <div class="col-lg-6 scouts">
      <div><strong>{{ atleta.scout.GS + 0 }}</strong> gols sofridos</div>
      <div><strong>{{ atleta.scout.CA + 0 }}</strong> cartões amarelos</div>
      <div><strong>{{ atleta.scout.CV + 0 }}</strong> cartões vermelhos</div>
    </div>
  </div>
</div>
