/* Cartrolando FC - http://cartrolandofc.com
 * https://github.com/wgenial/cartrolandofc
 * Desenvolvido por WGenial - http://wgenial.com.br
 * License: MIT <http://opensource.org/licenses/mit-license.php> - see LICENSE file
 */
@media screen and (max-width: 767px) {

  .header, .result, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .forkmegithub {
    width: 100px;
    height: 100px;
  }

  .jumbotron h1 {
    font-size: 28px !important;
  }
  .jumbotron a {
    text-transform: none;
  }

  .nav-pills>li+li:before {
    margin: 0 0.4em;
    height: 20px;
  }

  #teams_list li {
    padding: 10px;
  }
  #teams_list .nome {
    font-size: 1.1em;
    padding-left: 16px;
  }
  #teams_list .cartola {
    font-size: 1em;
    float: left;
    text-align: left;
    clear: left;
    display: inline;
    margin-left: 48px;
    margin-top: -12px;
  }

  #team_escudo, .team_nome {
    width: 100%;
    float: initial;
    text-align: center;
  }
  #team_escudo img {
    margin: 0 auto;
    display: block;
  }

  #team_info {
    margin-bottom: 0;
  }
  #team_info .team_nome h1 {
    font-size: 1.9em;
  }
  #team_info .team_patrimonio {
    clear: none;
    text-align: center;
  }

  #team_rodada_pontuacao {
    width: 100%;
    margin: 20px 0 0 0;
    position: relative;
  }
  #team_rodada_pontuacao .team_rodada {
    text-align: center;
  }
  #team_rodada_pontuacao .team_pontuacao {
    overflow: hidden;
    text-align: center;
  }
  #team_rodada_pontuacao .team_pontuacao .pontos_total {
    float: none;
  }

  .table-responsive {
    border: none !important;
  }
  #team_escalacao td {
    padding: 8px 8px 0 8px !important;
  }
  #team_escalacao .athlete_clube img {
    width: 70% !important;
  }
  #team_escalacao .athlete_foto img {
    width: 50%;
  }
  #team_escalacao .athlete_nome_label {
    font-size: 1em !important;
  }
  #team_escalacao .athlete_posicao_label {
    font-size: 0.857em !important;
  }
  #team_escalacao .athlete_pontos {
    font-size: 1em !important;
  }

  #team_escalacao table.estatisticas td {
    padding: 8px 0 0 0 !important;
  }
  #team_escalacao table.estatisticas tr:hover td {
    background: #F9F9F9;
  }
  .clube_escudo {
    width: 20px;
  }
  .atleta_foto {
    height: 50px;
  }
  #team_escalacao table.estatisticas .athlete_nome_label {
    font-size: 0.8em !important;
    line-height: normal;
  }
  #team_escalacao table.estatisticas .athlete_posicao_label {
    font-size: 0.6em !important;
    line-height: normal;
  }
  #team_escalacao table.estatisticas td.athlete_nome_posicao {
    padding: 8px 0 0 6px !important;
    width: 14%;
  }
  .athlete_val {
    font-size: 0.8em;
    line-height: normal;
    letter-spacing: -0.03em;
  }
  .athlete_label {
    font-size: 0.6em;
    line-height: normal;
    letter-spacing: -0.03em;
  }

}
